/*通用*/

body {
	font: 12px "microsoft yahei", Arial, Verdana;
	color: #666;
	margin: 0px;
	padding: 0px;
}

dl,
dt,
dd {
	margin: 0px;
	padding: 0px;
}

ol,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border: none;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #FF0700;
}

input {
	border: none;
}

.lf {
	float: left;
}

.rt {
	float: right;
}

.clear {
	clear: both;
}


/*整体布局*/

#top_box,
#top_main,
#nav,
#banner,
#main,
#foot_box,
#footer {
	width: 1211px;
	margin: 0px auto;
}

#banner {
	position: relative;
}


/*主体框架id*/

#top {
	width: 100%;
	height: 30px;
	background: #F7F7F7;
	line-height: 30px;
	border-bottom: 1px solid #F0F0F0;
}

#top_box {
	height: 30px;
}

#top_main {
	height: 60px;
	padding: 15px 0;
}

#nav {
	height: 40px;
}

#foot_box {
	height: 170px;
	clear: left;
}

#footer {
	height: 180px;
}

.hide {
	display: none;
}


/**顶部内容-收藏京东*/

#top_box>img {
	display: block;
	float: left;
	margin: 9px 4px;
}

#top_box>a {
	display: block;
	float: left;
	line-height: 30px;
}


/*顶部右侧链接菜单*/

#top_box ul li {
	float: left;
	text-align: center;
	position: relative;
	margin-right: 10px;
	z-index: 1;
}

#top_box ul li b {
	height: 12px;
	border-left: 1px solid #DDD;
	padding: 0 5px 0 0;
}

#top_box li.vip a {
	background-image: url(../Images/vip.jpg);
	background-repeat: no-repeat;
	padding-left: 30px;
	background-position: left center;
}

#top_box li.service>a {
	/*背景图*/
	border: 1px solid transparent;
	padding: 0px 15px;
}

#top_box li.service>a:hover {
	/*背景图*/
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 0px;
	z-index: 10;
}


/*手机京东的弹出框*/

#app_jd_items {
	/*display: none;*/
	position: absolute;
	/*background-color: #FFFFFF;*/
	border: 1px solid #DDDDDD;
	border-top: #FFFFFF;
	box-shadow: 0 0 10px #DDD;
	width: 215px;
	height: 214px;
	top: 40px;
	left: 6px;
	background: #FFFFFF url(../Images/app_jd_1.png) no-repeat;
	padding: 50px 0px 20px 20px;
	z-index: 3px;
}

#app_jd_items div.app,
#app_jd_items div.blank {
	height: 110px;
	padding-left: 100px;
}

#app_jd_items div.app {
	background: url(../Images/app_jd_erwei.jpg)15px center no-repeat;
}

#app_jd_items div.blank {
	background: url(../Images/app_jd_wangyin.png)15px center no-repeat;
}

#app_jd_items h3 {
	text-align: left;
	padding-left: 3px;
	color: #E4393C;
}

#app_jd_items a {
	display: block;
	width: 97px;
	height: 29px;
	margin-bottom: 6px;
}

#app_jd_items a.ios {
	background: url(../Images/iconlist_2.png)0px -360px no-repeat;
}

#app_jd_items a.android {
	background: url(../Images/iconlist_2.png)0px -399px no-repeat;
}


/*"客户服务的弹出菜单"*/

#service_items {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: 0px;
	/*box-shadow:0 0 10px #ddd;*/
	width: 78px;
	left: 6px;
	top: 23px;
	z-index: 3;
}

#service_items li {
	padding-left: 10px;
}


/*搜索框 search_box*/

#search_box {
	width: 510px;
	padding: 4px 4px 4px 4px;
	margin-right: 80px;
	position: relative;
}

div.search {
	width: 500px;
	height: 30px;
	margin-bottom: 5px;
	background-color: #E4393C;
	border: 3px solid #E4393C;
}

input.text {
	width: 405px;
	height: 20px;
	padding: 5px;
	background-color: #fff;
	line-height: 20px;
	color: #999;
	font-family: Arial, "Microsoft yahei";
}

input.button {
	width: 75px;
	background-color: #E4393C;
	color: #fff;
	font-size: 14px;
	height: 30px;
	font-weight: bold;
}


/*热门搜索*/

div.hot_words {
	height: 18px;
	color: #999;
	overflow: hidden;
}

div.hot_words a,
div.hot_words span {
	margin-right: 10px;
	color: #999;
}


/*我的京东*/

#my_jd {
	width: 65px;
	height: 30px;
	background-image: url(../Images/iconlist_2.png);
	background-repeat: no-repeat;
	background-position: -116px -24px;
	padding: 0 8px 0 25px;
	background-color: #F7F7F7;
	border: 1px solid #EFEFEF;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	position: relative;
	margin-top: 10px;
}

#my_jd b {
	border-style: solid;
	border-width: 5px;
	border-color: #ccc transparent transparent transparent;
	position: absolute;
	top: 12px;
	right: 3px;
}

#my_jd:hover {
	background-color: #fff;
	background-position: -116px -54px;
}


/***************主导航样式***************/

nav {
	background: #E64346;
}

#category {
	float: left;
	width: 210px;
	background: #CD2A2C;
	height: 40px;
}


/*****全部商品分类*****/

#category>a {
	display: inline-block;
	height: 40px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin-left: 20px;
	line-height: 40px;
}

#category>a:hover {
	text-decoration: none;
}

#category>b {
	width: 19px;
	height: 19px;
	background-image: url(../Images/iconlist_2.png);
	background-position: -66px 0px;
	background-repeat: no-repeat;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}


/******其他导航********/

#nav_items {
	float: left;
}

#nav_items li {
	float: left;
	width: 83px;
	height: 40px;
}

#nav_items li a {
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 83px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

#nav_items li a:hover {
	background: #BD2A2C;
}


/***********分类数据**************/

#cate_box {
	width: 203px;
	height: 402px;
	padding: 4px 3px 3px 0;
	background: #FAFAFA;
	border: 2px solid #E4393C;
	border-bottom: none;
	border-top: 0px;
	float: left;
}

#cate_box li {
	width: 203px;
	height: 28px;
	border-bottom: 1px solid #FFFFFF;
}

#cate_box li h3 {
	margin: 0px;
	/*padding: 0 0 0 13px;*/
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	height: 28px;
	line-height: 28px;
}

#cate_box h3>a {
	color: #333;
	text-decoration: none;
}

#cate_box li h3:hover {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}


/*图书*/

#cate_box .hide1 {
	position: absolute;
	/*background: #666666;*/
	border: 1px solid blue;
	width: 680px;
	height: 408px;
	left: 210px;
	top: 0px;
	z-index: 10;
	display: none;
}

.hide2 {
	background: #ccc;
}

.hide3 {
	background: #EFEFEF;
}

.hide4 {
	background: #005EA7;
}

.hide5 {
	background: #888888;
}

#cate_box div.hide1 ul {
	float: left;
	/*margin-bottom: 20px;
	margin-top: 20px;*/
}

#cate_box div.hide1 ul li {
	display: block;
	float: left;
	margin: 23px;
	width: 90px;
	height: 40px;
}

#cate_box div.hide1 ul li a {
	display: block;
	width: 90px;
	height: 40px;
	text-align: center;
	color: red;
	text-decoration: none;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
}

#cate_box div.hide1 ul li a:hover {
	background: #3E3E3E;
}


/*中间广告*/

#slider_box {
	float: left;
	/*left: 10px;*/
	margin-left: 10px;
	width: 670px;
}


/*中间广告上部分*/

#slider {
	width: 670px;
	height: 240px;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
	background: red;
}

#slider ul {
	position: relative;
	width: 4000px;
}

#slider ul li {
	float: left;
	width: 670px;
	height: 240px;
}

#slider .showNav {
	position: absolute;
	right: 10px;
	bottom: 5px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
}

#slider .showNav span {
	cursor: pointer;
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	margin-left: 2px;
	color: red;
}
#slider .showNav .active{
 background: #b63e1a;
}

/*中间广告下部分*/

#slider_box .ad {
	position: relative;
	width: 668px;
	border: 1px solid #E4393C;
	border-top: none;
	height: 159px;
}

#ad_2,
#ad_3 {
	position: absolute;
	top: 0;
	width: 25px;
	height: 100%;
	background: #FFFFFF;
}

#ad_2 {
	left: 0;
}

#ad_3 {
	right: 0;
}

#ad_1 {
	position: relative;
	width: 618px;
	height: 100%;
	overflow: hidden;
	margin-left: 25px;
}

#ad_1 ul {
	position: absolute;
	left: 0;
	top: 0;
	width: 1030px;
}

#ad_1 li {
	list-style-type: none;
	float: left;
	width: 206px;
	height: 139px;
	padding: 10px 0px;
}

#ad_1 li img {
	width: 206px;
	height: 139px;
}

#ad_2 span.preview a,
#ad_3 span.next a {
	position: absolute;
	z-index: 8;
	background-image: url(../Images/index/ad-arraw.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 35px;
	margin: 62px 0px;
}

#ad_3 span.next a,
#ad_3 span.next a:hover {
	background-position: 0px -35px;
	position: absolute;
	z-index: 10;
	background-repeat: no-repeat;
	width: 25px;
	height: 35px;
	margin: 62px 0px;
}

#ad_2 span.preview a:hover {
	position: absolute;
	z-index: 10;
	background-image: url(../Images/index/ad-arraw-hover.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 35px;
	margin: 62px 0px;
}

#ad_3 span.next a:hover {
	background-image: url(../Images/index/ad-arraw-hover.png);
}


/*最右边广告*/

#focus_extra {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}


/*右边广告上部分*/

#new {
	height: 145px;
}

#new .title {
	margin-top: 10px;
	padding-bottom: 4px;
	overflow: hidden;
}

#new .title span {
	font-size: 14px;
	font-weight: bold;
	float: left;
}

#new .title a {
	float: right;
	color: #005EBA;
	font-size: 12px;
}

#new .context {
	border: 1px solid #f1f1f1;
	border-top: 2px solid #AAAAAA;
	width: 308px;
	line-height: 25px;
	padding: 4px 0;
	overflow: hidden;
}

#new .context ul {
	border-right: 1px solid #f1f1f1;
	padding: 0 10px;
	width: 133px;
}

#new .context ul.right {
	border: none;
}


/*右边广告下部分*/

#virtuals {
	margin-top: 2px;
	border-left: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	width: 308px;
	overflow: hidden;
}

#virtuals ul li {
	float: left;
	width: 76px;
	height: 84px;
	border-right: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
	overflow: hidden;
	text-align: center;
}

#virtuals ul li b {
	background: url(../Images/index/virtuals-20140606.png)no-repeat;
	display: block;
	width: 40px;
	height: 40px;
	margin: 11px auto 2px;
}

#virtuals ul #huafei b {}

#virtuals ul #jipiao b {
	background-position: 0px -48px;
}

#virtuals ul #lvxing b {
	background-position: -64px 0;
}

#virtuals ul #dianyingpiao b {
	background-position: -64px -48px;
}

#virtuals ul #caipiao b {
	background-position: -128px 0px;
}

#virtuals ul #licai b {
	background-position: -128px -48px;
}

#virtuals ul #youxi b {
	background-position: -192px 0px;
}

#virtuals ul #shuidianmei b {
	background-position: -192px -48px;
}

#virtuals ul li i {
	background: url(../Images/index/virtuals_arraw.gif)no-repeat center center;
	display: block;
	width: 6px;
	height: 15px;
	margin: 0 auto;
}


/*页面主体广告*/

#show_box {
	padding: 10px 0;
}

#show_box>p {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

#show_box>p>span {
	font-size: 10px;
	color: #999999;
	margin-left: 10px;
	font-style: italic;
	font-weight: normal;
}


/******展示项*******/

li.pinpaijie {
	background: url(../Images/index/show_01.jpg)no-repeat;
}

li.dijia {
	background: url(../Images/index/show_02.jpg)no-repeat;
}

li.tuangou {
	background: url(../Images/index/show_04.png)no-repeat;
}

li.diannao {
	background: url(../Images/index/show_03.jpg)no-repeat;
}

#show_box>ul>li {
	width: 297px;
	height: 190px;
	margin-right: 5px;
	position: relative;
	float: left;
}


/*****遮罩层*******/

#show_box>ul>li>b {
	background-color: #FFFFFF;
	width: 45%;
	height: 100%;
	opacity: 0.8;
	z-index: 100;
	display: block;
	position: relative;
}


/**********遮罩层上的文本*************/

#show_box>ul>li>div {
	top: 0;
	left: 0;
	position: absolute;
	margin-top: 10px;
	padding: 20px;
	z-index: 101;
	color: #333333;
}

#show_box>ul>li>div>h3 {
	font-weight: bold;
	font-size: 18px;
	color: #505051;
}

#show_box>ul>li>div>h4 {
	font-weight: normal;
	color: #333333;
	line-height: 20px;
}

#show_box>ul>li>div>p {
	color: #E5393C;
}

#show_box>ul>li>div>span {
	color: #fff;
	background-color: #E4393C;
	padding: 1px 2px;
}

#show_box>ul>li>div>ul {
	margin-top: 20px;
}

#show_box>ul>li>div>ul>li {
	color: #888888;
}

#show_box>ul>li>div>ul>li>i {
	width: 2px;
	height: 2px;
	background-color: #666;
	float: left;
	margin-top: 7px;
	margin-right: 4px;
}


/***团购***/

#show_box>ul>li>div>div {
	width: 90px;
	height: 70px;
	margin-top: 20px;
	color: #888;
	background: url(../Images/index/cantuan.png)no-repeat 0px 35px;
}

#show_box>ul>li>div>div>span {
	color: #E5393C;
	font-size: 24px;
}


/*******小型广告**********/

#ad_box li {
	float: left;
	margin-right: 7px;
}

#ad_box li.last {
	float: right;
	margin-right: 0px;
}


/************第n楼************/

div.floor {
	width: 100%;
	height: 404px;
	margin-bottom: 10px;
}

div.floor>header {
	height: 40px;
}

div.floor>header>span {
	width: 27px;
	height: 33px;
	float: left;
	background: url(../Images/index/index_iconlist_01.png);
	font-size: 18px;
	color: #fff;
	padding-left: 3px;
	padding-top: 4px;
	cursor: default;
	border-bottom: 2px solid #aaa;
}

div.floor>header>span:hover {
	background-position: -40px 0px;
}

div.floor>header>p {
	font-size: 22px;
	height: 37px;
	width: 150px;
	font-weight: bold;
	color: #666;
	float: left;
	text-align: center;
	border-bottom: 2px solid #aaa;
	padding-left: 30px;
}

div.floor ul.tab {
	float: left;
}

div.floor ul.tab li {
	width: 158px;
	float: left;
	height: 25px;
	padding-top: 12px;
	border-bottom: 2px solid #AAAAAA;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}

div.floor ul.tab li a {
	display: inline-block;
	width: 158px;
	text-decoration: none;
}

div.floor ul.tab li:hover {
	border-bottom-color: #E4393C;
}

div.floor ul.links {
	float: left;
	width: 211px;
	height: 23px;
	padding-top: 14px;
	border-bottom: 2px solid #AAAAAA;
}

div.floor ul.links li {
	float: right;
	background: url(../Images/index/link_arraw.png) no-repeat right;
	padding-right: 20px;
}

div.floor ul.links li a {
	color: #005ea7;
}


/********左侧边栏************/

div.floor>aside {
	width: 209px;
	height: 361px;
	float: left;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

div.floor>aside ul {
	margin-left: 5px;
	padding-top: 5px;
}

div.floor>aside ul li {
	width: 50%;
	float: left;
	height: 25px;
}


/*中间内容*/

div.floor>section {
	width: 790px;
	height: 361px;
	float: left;
}

div.floor>section dl {
	width: 157px;
	height: 180px;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	float: left;
}

div.floor>section dl dt {
	text-align: center;
}

div.floor>section dl dd {
	margin-left: 5px;
	line-height: 20px;
}

div.floor>section dl dd>b {
	font-weight: normal;
	color: #E4393C;
	display: block;
	text-align: center;
	margin: 0px auto;
}

div.floor>section>div {
	float: left;
	width: 473px;
	height: 180px;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}


/*右边栏*/

div.floor>aside.floor_right ul {
	padding: 0px;
	margin: 0px;
}

div.floor>aside.floor_right ul li {
	height: 35px;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px dotted #f1f1f1;
	float: left;
}

div.floor>section>div img {
	width: 473px;
}


/***********其他部分***************/

#content_other {
	margin-top: 10px;
}

#content_other div.share {
	margin-top: 10px;
	width: 428px;
	height: 190px;
	border: 1px solid #ddd;
	border-top: 2px solid #ccc;
	float: left;
	padding: 6px 8px;
}

#content_other div.share>p {
	color: #666;
	font-size: 14px;
	font-weight: bold;
}

#content_other div.share ul li a img {
	width: 50px;
	height: 50px;
	float: left;
	padding-bottom: 20px;
	margin-right: 15px;
	overflow: hidden;
}

#content_other div.share ul li h3 {
	margin-top: 2px;
	margin-bottom: 6px;
	padding-right: 7px;
	font-weight: normal;
}

#content_other div.share ul li h3 a {
	color: #005ea7;
}

#content_other div.share ul li p {
	background: url(../Images/iconlist_3.png) no-repeat 364px -80px;
	padding-right: 58px;
	height: 40px;
}

#content_other div.share ul li p a {
	color: #999;
}

#content_other div.share ul li {
	padding: 10px 0px 5px 17px;
	border-bottom: 1px dotted #ccc;
}

#content_other div.share ul li i {
	position: absolute;
	margin-left: 42px;
	margin-top: -4px;
	display: block;
	width: 19px;
	height: 19px;
	background: url(../Images/iconlist_3.png) no-repeat;
}

#content_other div.share ul li i.shai {
	background-position: -200px -49px;
}

#content_other div.share ul li i.hot {
	background-position: -225px -49px;
}

#content_other div#more {
	float: left;
	margin-top: 10px;
	margin-left: 8px;
	width: 308px;
	height: 190px;
}

#content_other div.reading {
	width: 292px;
	height: 139px;
	border-top: 2px solid #CCCCCC;
	border: 1px solid #DDDDDD;
	padding: 6px 8px;
}

#content_other div.reading p {
	margin-bottom: 10px;
	overflow: hidden;
}

#content_other div.reading p a {
	float: right;
	color: #875EA7;
}

#content_other div.reading p span {
	float: left;
	color: black;
}


/*其他邮件地址*/

#content_other div#more img {
	float: left;
	/*clear: both;*/
	margin-right: 9px;
}

#content_other div#more ul {
	float: left;
}

#content_other div#more ul li {
	line-height: 25px;
}

#content_other div#more ul li a {
	color: #005EA7;
}

#content_other div.order {
	margin-top: 2px;
}

#content_other div.order p {
	color: black;
	font-size: 14px;
	font-weight: bold;
}

#content_other div.order input {
	width: 214px;
	height: 23px;
	border: 1px solid #333333;
	/*border-bottom:1px solid #eaeaea;
	border-right:1px solid #eaeaea;*/
	color: #666666;
	background: url(../Images/index/email.gif)no-repeat 5px 5px;
	padding-left: 26px;
	font-style: italic;
}

#content_other div.order button {
	background: red;
	width: 60px;
	height: 25px;
	font-weight: bold;
	color: #666666;
	border-radius: 3px;
}


/*底面部分*/

#foot_box {
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	/*margin-top: 15px;*/
}

#foot_box p {
	width: 33px;
	height: 33px;
	float: left;
	margin-top: 5px;
	padding: 5px 5px 0 23px;
}

#foot_box ul {
	width: 140px;
	float: left;
}

#foot_box ul li {
	line-height: 22px;
}

#foot_box ul li b {
	line-height: 30px;
}

p.shopping_guide {
	background: url(../Images/gw01.jpg)no-repeat;
}

p.send_type {
	/*发送方式的背景图像*/
	background: url(../Images/ps02.jpg)no-repeat;
}


/*友情链接*/

#footer {
	text-align: center;
	margin: 15px auto;
}

.link a {
	margin: 0px 10px;
}

.copyright {
	width: 800px;
	margin: 0px auto;
	margin-top: 15px;
	line-height: 20px;
}

.authentication {
	width: 532px;
	margin: 12px auto;
}

.authentication a {
	float: left;
	margin: 0px 12px;
}